# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1.   Python
2.   R
3.   SQL

Some of the commonly used libraries used by Data Scientists include:


*   ggplot2
*   Scikit-learn
*   Pandas
*   Numpy

|Data Science Tools|
|-----|
| Jupter Lab|
| Rstudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5.

17.0

In [12]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**


*   arithmetic expression to mutiply then add integers
*   Converting 200 minutes to hours
*   Libraries used by Data Scientists

##Author##
Parkway Production